/* styles for my portal page */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    overflow: hidden;
    background: #0f4c5c;
    border-top: 10px dashed #ddd;
}

.header-inner {
    max-width: 1100px;
    margin: 20px auto;
}

#logo {
    float: left;
    width: 100px;
    margin-bottom: 20px;
}

nav {
    height: 50px;
    float: right;
    font-size: 20px;
}

nav ul {
    float: right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    padding: 5% 10px;
}

a {
    color: #869ae9;
}

nav a {
    text-decoration: none;
    color: #f9f4f5;
}

h1 {
    font-size: 24px;
    padding: 0px 5px 5px 5px;
}

h2 {
    font-size: 18px;
    padding: 0px 4px 4px 4px;
    color: #f9f4f5;
}

h3 {
    font-size: 16px;
    padding: 0px 4px 4px 4px;
    color: #f9f4f5;
}
body {

    background: #FB8B24;
}

p {
    padding: 5px;
}

#wrapper {
    background: #0E083E;
}

main {
    color: #5f0f40;
    width: 72%;
    float: left;
    padding: 10px 10px;
    margin: 5px 5px;
    height: 760px;
    overflow: scroll;
}

#me {
    float: left;
    padding: 15px 20px 13px 10px;
    width: 250px;
}

#screenshot {
    width: 600px;
}

aside {
    width: 25%;
    color:rgb(37, 37, 37);
    background: #0f4c5c;
    float: right;
    padding: 10px 5px 12px 30px;
}

footer {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    border-top: 10px dashed #fff;
    clear: both;
}

footer li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}