* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0b05ba;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    overflow: hidden;
    background: #ffff26;
    height: 179px;
}

.header-inner {
    max-width: 1100px;
    margin: 20px auto;
}

#logo {
    float: left;
    width: 180px;
    margin-top: -20px;
}

nav {
    height: 50px;
    float: right;
    font-size: 22px;
}

nav ul {
    float: right;
}

nav li {
    float: left;
    font-size: 16px;

    margin-left: 30px;
    padding: 7% 10px;

}

a:link {
    color: #4d4aff;
  }
  
  a:visited {
    color: #4d4aff;
  }
  
  a:hover {
    color: #ff6666;
  }
  
  a:active {
    color: #9b6cc1;
  }

nav a {
    text-decoration: none;
    color: #0b05ba;
}

.welcome-logout {
    color:#ff6666;
    border-bottom: dashed 2px;
}

li {
    list-style-type: none;
}

.current {
    color: rgb(11, 94, 0);
    font-weight: bold;
}

#wrapper {
    max-width: 1100px;
    margin: 20px auto;
}

#thx {
    color: #fff;
    text-align: center;
}

/*values based on 940px grid--580/940 */
main {
    background: #ffff26;
    width: 61.7%;
    color: #0b05ba;
    float: left;
    margin-bottom: 20px;
    padding: 15px;
}

h1 { 
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    font-style: italic;
    padding-bottom: 5px;
    background: #ffff26;
}

h3 {
    text-align: center;
    margin-bottom: 50px;
}

h4 {
    font-size: 17px;
}

p {
    padding: 20px;
    color: rgb(46, 45, 45);
}

/* form styles */ 

form {
    background: rgba(3, 0, 156, 0.418);
    width: 400px;
    margin: 20px auto;

}

label {
    display: block;
    padding: 5px;
}

input {
    padding: 5px;
}

fieldset {
    padding: 10px;
}

.error {
    display: block;
    color: rgb(251, 255, 0);
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
}

aside {
    width: 36.17%;
    float: right;
    margin-bottom: 15px;
}

table {
    margin: auto;
    width: 90%;
}

td {
    border: solid #fff 1px;
    padding: 10px;
}

img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td img {
    height: 250px;
    width: auto;
}

main ul {
    padding: 20px;
}

#list-main {
    background: #ffff26;
    width: 61.7%;
    height: 781px;
    overflow: scroll;
    color: #0b05ba;
    float: left;
    margin-bottom: 20px;
    padding: 15px;
}

footer {
    background: #ffff26;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    clear: both;
}


footer li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}