* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    background: beige;
    width: 400px;
    margin: 30px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    padding: 8px;
    border: 1px solid rgb(53, 52, 52);
}

.box {
    width: 400px;
    margin: 10px auto;
    border: 1 px solid green;
    padding: 8px;
}

input {
    margin-bottom: 10px;
}

input[type=radio]{
    margin: 5px;
}


form ul {
    margin-left: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

.error {
    display: block;
    color: red;
    text-align: center;
    font-size: 1em;
    margin-bottom: 3px;
    border: 1px solid rgb(53, 52, 52);
}

select {
    display: block;
    margin-bottom: 10px;
}